.loginpage{
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url('../img/background.svg');
      background-position: center;
      width: 100vw;
      height: 100vh;
}